.container{
    width: 100%;
    height: 100vh;

    .header{
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to right,#d0601c, #ed3535);
    }

    .hero{
        width: 100%;
        height: 500px;
    }
}