.container{
    width: 100%;
    height: 100vh;

    .top-level{
        width: 100%;
        height: 40px;
        background-color: #0b4545;
    }

    .header{
        width: 100%;
        height: 100px;
        background-image: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        color:'#0b2845';

        .social-row{
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: '#0b2845';

            .row-container{
                width: 70%;
                height: 100%;
                border: 0.2px solid #ccc;
                border-left: transparent;
                border-right: transparent;
                border-top: transparent;

                .contents{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: flex-end;

                    .social-icon{
                        width: 30%;
                        height: 100%;
                        display: flex;
                        align-items: center;

                        .icons{
                            width: 170px;
                            height: 100%;
                            display: flex;
                            align-items: flex-end;
                            margin-bottom: 10px;
                            justify-content: space-between;
                        }
                    }

                    .logo{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: center;

                        div{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #0b4545;
                        }
                    }

                    .phone-number{
                        width: 30%;
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        margin-bottom: 10px;
                        justify-content: flex-end;
                        color: #0b4545;
                        font-size: 16px;
                    }
                }

                .empty{
                    width: 100%;
                    height: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .menu-row{
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .menu-container{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                color: #0b4545;
                cursor: default;

                .nav{
                    color: #0b4545;
                    text-decoration: none;
                }

                .nav:hover{
                    color: green;
                }
            }
        }
    }

    .hero{
        width: 100%;
        height: 500px;
        background-image: url("../images/home2.png");
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .hero-content{
            width: 70%;
            height: 400px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .left-hero{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                .hero-text{
                    width: 400px;
                    height: 100%;

                    .headText{
                        color:#fff;
                        line-height: 55px;
                        font-size: 40px;
                    }

                    .texts{
                        color: #fff;
                    }

                    .footerText{
                        font-size: 10px;
                        margin-top: 20px;
                        color: #fff;
                    }

                    .buttons-container{
                        display: flex;
                        flex-direction: row;
                        margin-top: 50px;
                        width: 80%;
                        justify-content: space-between;

                        .buy{
                            width: 100px;
                            border-radius: 0px;
                        }
                    }
                }
            }

            .right-hero{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .card-right{
                    width: 350px;
                    height: 100%;
                    background-color: rgba(11, 69, 69, 0.7);
                    box-shadow: 0px 0px 2px #fff;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .card-content{
                        width: 90%;
                        height: 90%;

                        .property{
                            margin-top: 10px;
                            color: #fff;
                            display: flex;
                            width: 100%;
                            height: 35px;
                        }

                        .select-div{
                            width: 100%;
                            height: 40px;
                            border: 1px solid #fff;
                            margin-top: 20px;
                            display: flex;
                            align-items: center;
                        }

                        .search-button{
                            width: 100%;
                            height: 40px;
                            margin-top: 20px;
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }

            button{
                width: 140px;
                height: 35px;
                background-color: #0b4545;
                color: #fff;
                border: 1px solid #fff;
                border-radius: 20px;
                margin-right: 2px;
            }

            .search-container{
                width: 70%;
                height: 40px;
                background-color: #fff;
                margin-top: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 20px;

                input{
                    margin-left: 15px;
                    width: 100%;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .stat-section{
        width: 100%;
        height: 440px;
        display: flex;
        flex-direction: row;

        .briefing{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: #d7d7d7;

            .breif-container{
                width: 70%;
                height: 100%;

                .brief-mid{
                    width: 90%;
                    height: 100%;

                    .brief-title{
                        margin-top: 30px;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 40px;
                        color: #0b4545;
                    }
    
                    .paragh1{
                        font-size: 12px;
                        line-height: 25px;
                        margin-top: 10px;
                        color: #000;
                        margin-bottom: 20px;
                    }

                    .download{
                        width: 95%;
                        height: 30px;
                        border: 1px solid #0b4545;
                        display: flex;
                        align-items: center;
                        font-size: 10px;
                        padding-left: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .stats{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            background-color: #fff;

            .stats-container{
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .main-cont{
                    width: 100%;
                    height: 95px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .outer-container{
                        width: 70px;
                        height: 70px;
                        border-radius: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #d7d7d7;
                        margin-left: 40px;
                    }

                    .content{
                        margin-left: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .estate-section{
        width: 100%;
        background-image: url("../images//background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;

        .estate-title{
            width: 90%;
            height: 38px;
            margin-top: 50px;
            border: 8px solid #0b4545;
            border-bottom: none;
            border-right: none;
            border-top: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .first{
                font-size: 11px;
                margin-left: 10px;
            }

            .second{
                font-size: 14px;
                font-weight: bolder;
                margin-left: 10px;
                color: #0b4545;
            }
        }

        .estate-title2{
            width: 90%;
            height: 38px;
            margin-top: 80px;
            border: 8px solid #0b4545;
            border-bottom: none;
            border-right: none;
            border-top: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .first2{
                font-size: 11px;
                margin-left: 10px;
            }

            .second2{
                font-size: 14px;
                font-weight: bolder;
                margin-left: 10px;
                color: #0b4545;
            }
        }

        .thumbnails{
            width: 91%;
            height: 800px;
            margin-bottom: 50px;
            margin-top: 20px;
            display: grid;
            grid-template-columns: auto auto;
            gap: 20px 20px;

            div{
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                div, h2{
                    color: #fff;
                }
            }

            .firstGrid{
                overflow: hidden;
                background-image: url("../images/loc1.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                line-height: 10px;
            }

            .secondGrid{
                overflow: hidden;
                background-image: url("../images/loc2.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                line-height: 10px;
            }

            .thirdGrid{
                overflow: hidden;
                background-image: url("../images/loc2.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                line-height: 10px;
            }

            .fourthGrid{
                overflow: hidden;
                background-image: url("../images/loc4.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                line-height: 10px;
            }
        }
    }

    .why-us{
        width: 100%;
        height: 300px;
        background-image: url("../images//side.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .reason{
            color: #fff;
        }

        h1{
            color: #fff;
        }
    }

    .why-details{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .details-container{
            width: 90%;
            height: 500px;
            display: grid;
            grid-template-columns: auto auto;
            gap: 30px;

            .one{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: blue;
            }
    
            .two{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: green;
            }
    
            .three{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: yellow;
            }
    
            .four{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #0b4545;
            }
        }
    }

    .agents-container{
        width: 100%;
        height: 1000px;
        background-image: url("../images//background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .estate-title{
            width: 90%;
            height: 38px;
            margin-top: 50px;
            border: 8px solid #0b4545;
            border-bottom: none;
            border-right: none;
            border-top: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .first{
                font-size: 11px;
                margin-left: 10px;
            }

            .second{
                font-size: 14px;
                font-weight: bolder;
                margin-left: 10px;
                color: #0b4545;
            }
        }

        .agent-grid{
            width: 90%;
            height: 800px;
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 20px 20px;
            margin-top: 20px;

            div{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .agent-card{
                display: flex;
                flex-direction: column;

                .top{
                    width: 100%;
                    height: 80%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-end;
                    background-image: url("../images/man.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;

                    .social-media{
                        position: absolute;
                        width: 50px;
                        height: 200px;
                        display: flex;
                        flex-direction: column;

                        div{
                            width: 50px;
                            height: 50px;
                            background-color: rgba(0, 0, 0, 0.7);
                            border-bottom-color: #fff;
                        }
                    }
                }

                .bottom{
                    width: 100%;
                    height: 20%;
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .agent-name{
                        font-size: 18px;
                        font-weight: bolder;
                    }

                    .agent-title{
                        font-size: 12px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .footer{
        width: 100%;
        height: 600px;
        background-color: black;
    }
}